.container {
    padding: 10px 20px;
    margin-top: 20px;
    border-top: solid white 2px;
    height: 500px;
}

.tabPanel {
    min-height: 300px;
    overflow: auto;
}

.infoPanel {
    width: 100px;
    height: 50px;
    background-color: white;
}
