.userName {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    justify-content: center;
}
.avatarSection {
    display: flex;
    flex-direction: column;
}

.avatar {
    border-radius: 50px;
    margin-top: 5px;
    background-color: white;
    width: 50px;
    height: 50px;
}
.userInfoSection {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 5px;
    width: fit-content;
}
