.textField {
    background-color: transparent;
    color: white;
    text-decoration-color: white;
    width: 500px;
    border-radius: 60px;
    height: 60px;
    margin-right: 20px;
    border: solid white 2px;
    padding-left: 40px;
}
