.textField {
    border: solid white 2px;
    border-radius: 50px;
    height: 60px;
    background-color: transparent;
    width: 500px;
    padding: 0 30px;
    color: white;
    font-size: large;
}
