/* src\components\WalletConnectButton\index.module.css */
.walletInfo {
    font-weight: bold;
    padding: 1rem;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

.connectWalletButton {
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 36px;
    text-align: center;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 250px;
    box-sizing: border-box;
    border: 2px solid white;
    font-family: "Outfit";
}

.connectWalletButton:hover {
    transform: translateY(-2px);
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}
