.container {
    height: 100vh;
    display: flex;
}

.main {
    min-height: 20rem;
    margin-top: 30rem;
    padding: 4rem 4rem;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    color: white;
}

.subtitle {
    color: rgb(196, 193, 193);
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
}

.jumpButton {
    border: solid white 3px;
    color: white;
    width: 400px;
    height: 70px;
    font-size: x-large;
    border-radius: 20px;
    margin: 20px 5px;
}
