.container {
    height: 100vh;
    display: flex;
    position: relative;
}

.main {
    min-height: 20rem;
    margin-top: 30rem;
    padding: 4rem 4rem;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    color: white;
}

.subtitle {
    color: rgb(196, 193, 193);
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
}

.jumpButton {
    color: rgb(0, 0, 0);
    background: white;
    width: 270px;
    height: 70px;
    font-size: x-large;
    border-radius: 20px;
    margin: 20px 5px;
    font-family: "Outfit";
}

.jumpButton:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    border: solid white 2px;
}

.loadingSection {
    position: fixed;
    display: flex;
    padding: 80px 50px;
}

.loadingIcon {
    margin-right: 10px;
}

.loadingText {
    margin-top: 10px;
    color: "white";
    font-size: 20px;
}
